"This notebook has been made for the project at patika.dev ."

The aim is to use the eight features to predict each of the two responses.

In [1]:
#libraries import
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import GaussianNB
import math

# Download and Read Data

In [4]:
df = pd.read_csv('ENB2012_data.csv')
df

       X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
..    ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03

[768 rows x 10 columns]

In [5]:
#detect missing values
print(df.isnull().sum())

X1    0
X2    0
X3    0
X4    0
X5    0
X6    0
X7    0
X8    0
Y1    0
Y2    0
dtype: int64

We don't have any missing values.

We don't have any categorical variable.

In [7]:
#check for outliers
#z-score

from scipy import stats as st
z = np.abs(st.zscore(df))
print(np.where(z > 3))

(array([], dtype=int64), array([], dtype=int64))

We don't have any outliers.

# Split Data

In [8]:
#train-validation-test
#split the data into 3 as 60% train, 20% validation and 20% test.

In [9]:
train, validate, test = np.split(df.sample(frac=1, random_state=42), [int(.6*len(df)), int(.8*len(df))])

In [10]:
print("train", train)
print("validate", validate)
print("test", test)

train        X1     X2     X3      X4   X5  X6    X7  X8     Y1     Y2
668  0.62  808.5  367.5  220.50  3.5   2  0.40   3  16.47  16.90
324  0.66  759.5  318.5  220.50  3.5   2  0.25   1  13.17  16.39
624  0.98  514.5  294.0  110.25  7.0   2  0.40   3  32.82  32.78
690  0.79  637.0  343.0  147.00  7.0   4  0.40   4  41.32  46.23
473  0.64  784.0  343.0  220.50  3.5   3  0.25   4  16.69  19.76
..    ...    ...    ...     ...  ...  ..   ...  ..    ...    ...
190  0.62  808.5  367.5  220.50  3.5   4  0.10   3  12.71  14.14
115  0.79  637.0  343.0  147.00  7.0   5  0.10   2  36.03  42.86
732  0.82  612.5  318.5  147.00  7.0   2  0.40   5  30.00  29.93
467  0.69  735.0  294.0  220.50  3.5   5  0.25   4  12.86  16.13
94   0.62  808.5  367.5  220.50  3.5   4  0.10   1  12.93  14.33

[460 rows x 10 columns]
validate        X1     X2     X3      X4   X5  X6    X7  X8     Y1     Y2
180  0.66  759.5  318.5  220.50  3.5   2  0.10   3  11.59  13.46
301  0.82  612.5  318.5  147.00  7.0   3  0.25   1  27.27  27.84
736  0.79  637.0  343.0  147.00  7.0   2  0.40   5  42.11  38.56
569  0.64  784.0  343.0  220.50  3.5   3  0.40   1  19.36  22.73
628  0.90  563.5  318.5  122.50  7.0   2  0.40   3  34.24  37.26
..    ...    ...    ...     ...  ...  ..   ...  ..    ...    ...
384  0.98  514.5  294.0  110.25  7.0   2  0.25   3  28.67  29.43
224  0.69  735.0  294.0  220.50  3.5   2  0.10   4  11.18  14.29
729  0.86  588.0  294.0  147.00  7.0   3  0.40   5  31.81  31.20
630  0.90  563.5  318.5  122.50  7.0   4  0.40   3  35.05  33.82
472  0.64  784.0  343.0  220.50  3.5   2  0.25   4  16.99  19.65

[154 rows x 10 columns]
test        X1     X2     X3      X4   X5  X6    X7  X8     Y1     Y2
347  0.86  588.0  294.0  147.00  7.0   5  0.25   2  28.40  34.52
505  0.74  686.0  245.0  220.50  3.5   3  0.25   5  11.67  14.58
756  0.66  759.5  318.5  220.50  3.5   2  0.40   5  14.96  17.64
710  0.66  759.5  318.5  220.50  3.5   4  0.40   4  15.09  18.36
693  0.76  661.5  416.5  122.50  7.0   3  0.40   4  40.40  39.67
..    ...    ...    ...     ...  ...  ..   ...  ..    ...    ...
71   0.76  661.5  416.5  122.50  7.0   5  0.10   1  32.21  33.67
106  0.86  588.0  294.0  147.00  7.0   4  0.10   2  26.33  27.36
270  0.71  710.5  269.5  220.50  3.5   4  0.10   5  10.67  14.26
435  0.98  514.5  294.0  110.25  7.0   5  0.25   4  28.62  30.12
102  0.90  563.5  318.5  122.50  7.0   4  0.10   2  28.83  29.36

[154 rows x 10 columns]

In [11]:
#split x columns and y columns

In [12]:
x_train = train.iloc[:,:-2]
y_train = train.iloc[:,8:]
x_valid = validate.iloc[:,:-2]
y_valid = validate.iloc[:,8:]
x_test = test.iloc[:,:-2]
y_test = test.iloc[:,8:]

RMSE
score function

In [13]:
def rmse(x,y):
    return math.sqrt(((x-y)**2).mean())

In [14]:
def print_score(m):
    m.fit(x_train, y_train)
    
    print(f"R^2 of train set: {m.score(x_train, y_train)}")
    print(f"R^2 of validation set: {m.score(x_valid, y_valid)}")

# Random Forest Regressor

In [ ]:
# try to find the RandomForestRegressor model that gives the best r^2 score by changing the max_features and 
# max_leaf_nodes parameters with the tree numbers given below